<template>
  <div class="card" v-if="loadGetReady">
    <h2 class="card center"><strong>{{ getNameWorkout(choiceDay) }}</strong></h2>
        <div class="pt-1" :key="item" v-for="item in getItem(choiceDay).exercisesDTO">
          <h3>{{ item.name }}</h3>
          <p>{{ item.text }}</p>
          <div class="card center">
            <img :src=item.gifRef>
          </div>
          <p>Количество повторений: <strong>{{ item.count }}</strong></p>
          <hr>
        </div>
  </div>
</template>

<script>

export default {
  props: {
    choiceDay: Number,
    content: Array,
    loadGetReady: Boolean,
  },
  data() {
    return {}
  },
  mounted() {
    this.getItem(1);
  },
  methods: {
    getItem(num) {
      return this.content[num - 1]
    },
    getNameWorkout(num) {
      return this.content[num - 1].nameWorkout
    }
  }
}

</script>

<style scoped>

</style>