<template>
  <div class="card">
    <button
        class="btn"
        :class="currentChoice === numChoice.id ? 'primary' : ''"
        v-for="numChoice in dataList"
        :key="numChoice.id"
        @click="move(numChoice.id)"
    >{{ numChoice.text }}
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentChoice: 1,
    }
  },
  emits: ['setChoice'],
  props: {
    dataList: [],
  },
  methods: {
    move(numChoice) {
      this.currentChoice = numChoice
      this.$emit('setChoice', numChoice)
    }
  },

}
</script>

<style scoped>

</style>