<template>
  <div class="container pt-1">
    <div class="card">
      <h3>Программа тренировки:</h3>
      <AppStandardSelect
          :dataList="listDay"
          @setChoice="setChoice"
      ></AppStandardSelect>
      <AppContentForTraining
          :choiceDay="choiceDay"
          :content="content"
          :loadGetReady="loadGetReady"
      ></AppContentForTraining>
    </div>
  </div>
</template>

<script>
import AppStandardSelect from "@/components/AppStandardSelect";
import AppContentForTraining from "@/components/AppContentForTraining";
import axios from "axios";

export default {
  data() {
    return {
      listDay: [
        {id: 1, text: 'День 1'},
        {id: 2, text: 'День 2'},
        {id: 3, text: 'День 3'},
      ],
      choiceDay: 1,
      content: [],
      loadGetReady: false,
    }
  },
  mounted() {
    this.loadSportPrograms();
  },
  methods: {
    setChoice(numChoice) {
      this.choiceDay = numChoice;
    },
    async loadSportPrograms() {
      this.loadGetReady = false;
      const {data} = await axios.get("http://192.168.0.102:8888/sport/");
      this.content = data;
      this.loadGetReady = true;
    },
  },
  components: {AppContentForTraining, AppStandardSelect},
}
</script>

<style scoped>

</style>