<template>
  <div class="card">
    <button
        class="btn"
        :class="currentBtn === numBut ? 'primary' : ''"
        v-for="numBut in listNum"
        :key="numBut"
        @click="move(numBut)"
    >{{ numBut }}
    </button>
  </div>
</template>

<script>
export default {
  emits: ['clickBtn'],
  data() {
    return {
      listNum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      listPart: [1, 2],
      currentBtn: 1,
    }
  },
  methods: {
    move(numBut) {
      this.currentBtn = numBut;
      this.$emit('clickBtn', numBut)
    }
  }
}
</script>

<style scoped>

</style>