<template>
  <div class="card tab">
    <button
        class="btn"
        v-for="numTab in listTab"
        :class="currentTab === numTab.id ? 'primary' : ''"
        :key="numTab.id"
        @click="clickTab(numTab.id)"
    >{{ numTab.title }}
    </button>
  </div>
</template>

<script>
export default {
  emits: ['setTab'],
  data() {
    return {
      listTab: [
        {
          id: 1,
          title: 'Уроки Vue',
        },
        {
          id: 2,
          title:'Программы упражнений',
        }],
      currentTab: 1,
    }
  },
  methods: {
    clickTab(numTab) {
      this.currentTab = numTab;
      this.$emit('setTab', numTab)
    }
  }
}
</script>

<style scoped>
.tab {
  position: sticky;
  top: 0;
  z-index: 999;
}
</style>