<template>
  <div class="card">
    <div class="card vid">
      <video
          v-if="numVideo === 1"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/001.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 2"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/002.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 3"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/003.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 4"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/004.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 5"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/005.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 6"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/006.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 7"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/007.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 8"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/008.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 9"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/009.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
      <video
          v-if="numVideo === 10"
          style="aspect-ratio: 16/9"
          src="../../../VuePart1/010.mp4"
          width=800
          height=500
          controls
          preload="metadata"
          :poster=getImgRef(numVideo)
      ></video>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    numVideo: Number,
  },
  data() {
    return {
      backPicture: '',
      currentVideo: '',
      listNames: ["001.mp4", "002.mp4", "003.mp4", "004.mp4", "005.mp4", "006.mp4", "007.mp4", "008.mp4", "009.mp4", "010.mp4"],
    }
  },
  methods: {
    getImgRef(num) {
      if (num < 10) return `img/00${num}.png`
      else if (num >= 10) return `img/0${num}.png`
    }
  }
}
</script>

<style scoped>

@media (max-width: 1200px) {
  video {
    width: 800px;
    height: 500px;
  }

  div.card.vid {
    width: 810px;
    height: 510px;
  }
}

@media (max-width: 500px) {
  video {
    width: 350px;
    height: 200px;
  }

  div.card.vid {
    width: 360px;
    height: 210px;
  }
}

div {
  display: flex;
  justify-content: center;
}
</style>