<template>
  <div>
    <AppTab
        @setTab="setTab"
    ></AppTab>
    <div class="container pt-1" v-if="currentTab === 1">
      <AppSelectionVideo
          @clickBtn="clickBtn"
      ></AppSelectionVideo>
      <AppVideo
          :numVideo="numVideo"
          v-show="true"
      ></AppVideo>
    </div>
    <AppSportProgram
        v-if="currentTab === 2"
    ></AppSportProgram>
  </div>
</template>

<script>

import AppVideo from "@/components/AppVideo";
import AppSelectionVideo from "@/components/AppSelectionVideo";
import AppTab from "@/components/AppTab";
import AppSportProgram from "@/components/AppSportProgram";

export default {
  data() {
    return {
      active: 'one',
      numVideo: 1,
      currentTab: 1,
    }
  },
  methods: {
    clickBtn(numBtn) {
      this.numVideo = numBtn;
    },
    setTab(numTab) {
      this.currentTab = numTab;
    }
  },
  components: {AppSportProgram, AppTab, AppSelectionVideo, AppVideo},

}
</script>

<style scoped>

</style>
